alias ..="cd .."
alias ...="cd ../.."
alias dux="du -h --max-depth=1"
alias df="df -h"
alias vi=vim
alias vdiff="vimdiff"
alias findi='find . | grep -i'
alias calc='bc -l'
alias hf='history | grep $1'
alias c=clear
alias grep="grep --color=auto"
alias mv="mv -i"
alias rm="rm -Iv"
alias p="ps aux | grep $1"
alias psm="ps au -m | head -n20"
alias psc="ps au -m | head -n20"

if command -v eza >/dev/null 2>&1; then
    alias ls="eza -hg --octal-permissions --git --time-style long-iso --icons=auto"
    alias l="eza -hg --octal-permissions --git --time-style long-iso --icons=auto"
    alias ll="eza -hgalF --octal-permissions --git --time-style long-iso --icons=auto"
    alias la="eza -hgA --octal-permissions --git --time-style long-iso --icons=auto"
    alias lt="eza -hgAT --octal-permissions --git --time-style long-iso --icons=auto"
    alias l2="eza -hgATL2 --octal-permissions --git --time-style long-iso --icons=auto"
    alias lt2="eza -hgATL2 --octal-permissions --git --time-style long-iso --icons=auto"
    alias l3="eza -hgATL3 --octal-permissions --git --time-style long-iso --icons=auto"
    alias lt3="eza -hgATL3 --octal-permissions --git --time-style long-iso --icons=auto"
else
    alias ll='ls -alF'
    alias la='ls -A'
    alias l='ls -CF'
fi
if command -v bat >/dev/null 2>&1; then
    alias cat="bat"
    alias catp="bat -pp"
fi
if command -v nvim >/dev/null 2>&1; then
    alias vi=nvim
    alias vimdiff="nvim -d"
    alias vdiff="nvim -d"
fi

alias cons='netstat -ant | grep ":80" | wc -l'
alias sqldump="nice -n 19 /usr/bin/mysqldump --opt --lock-tables=false $0 > $0.sql"
alias tarhttp="nice -n 19 tar czfv $0.tgz httpdocs"
alias tarhttpex="nice -n 19 /bin/tar czfv $0.tgz $0.sql httpdocs --exclude=httpdocs/var/cache/* --exclude=httpdocs/media/* --exclude=httpdocs/var/session/* --exclude=httpdocs/var/log/* --exclude=httpdocs/var/report/* --exclude=httpdocs/var/debug/* --exclude=httpdocs/var/backups/* --exclude=httpdocs/tools/*.gz"
alias nsl="nslookup -timeout=5 -query=ANY -nodef $0"
alias digas="dig +nocmd $0 any +multiline +noall +answer"
alias removejunk="find . \( -name '.DS_Store' -o -name '._.DS_Store' \) -exec rm {} \;"
alias cdwww="cd /var/www/vhosts/"
alias fname="find . -type f -name $1"
alias fdname="find . -type d -name $1"
alias fstr="find . -type f | xargs -e grep -lis $0"
alias md5="echo -n '$0' | md5sum"
alias sudo="sudo -sE"

alias gl="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gs="git status -sb"
alias gd="git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
alias ga="git add -A"
alias gp="git pull"
alias gc="git commit -m"
alias gmd="git merge --no-ff develop"

if command -v docker-compose >/dev/null 2>&1; then
    alias dc="docker-compose"
elif command -v docker >/dev/null 2>&1; then
    alias dc="docker compose"
    alias docker-compose="docker compose"
fi
alias dcp="docker-compose ps"
alias dcu="docker-compose up -d"
alias dcd="docker-compose down"
alias dcl="docker-compose logs -f"

alias dotfiles="~/.dotfiles/install.sh && source ~/.bashrc"

alias tn="tmux new -s"
alias ta="tmux a -t"
alias tl="tmux ls"
alias tk="tmux kill-session -t"

# requires imagemagick
alias favicon="convert \$1 -define icon:auto-resize=64,48,32,16 \$2 "

prettyjson_string() {
    echo "$1" | python -m json.tool
}
prettyjson_file() {
    python -m json.tool "$1"
}
prettyjson_url() {
    curl "$1" | python -m json.tool
}
